<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bok's Burger Blog</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
  </head>
  <body>
    <header id='home-header'>
      <!-- <h1>Bok's Burger Blog</h1> -->
      <!-- <div class='viewport'></div> -->
      <!-- <h1 id='header'>Bok's Burger Blog</h1> -->
        <!-- <div class="container">
          <a class ='nav' href="/">Home</a>
          <a class ='nav' href="/joints">List of  Restaurants</a>
          <a class ='nav' href="/burgers">All Posts</a>
          <a class ='nav' href="/about">About Bok</a>
    </div> -->
    </header>
        {{{body}}}
  </body>
</html>
