<div class='about'>

<div>
  <img src="../../public/images/jayme.JPG" alt>
</div>

<h2>About Bok</h2>
<br>
blurb about meow meow meow meow meow meow meow meow
<br>
why burgers
<br><br>
<a class='links' href='https://www.instagram.com/jaymbok/' target='_blank'>Visit Jayme's Instagram</a>

</div>

<footer>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
