<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
</div>
</header>

<div class='about'>

<div>
  <img src="/images/jayme2.jpg">
</div>

<h2>About Bok</h2>
<p>blurb about meow meow meow meow meow meow meow meow. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia tristique malesuada. Quisque vitae nulla id elit pharetra auctor. Sed tincidunt accumsan est venenatis vestibulum. Donec ac purus sed orci convallis lacinia ac vitae leo. Vivamus gravida eros eget arcu cursus maximus. Praesent fringilla lobortis pellentesque. Phasellus accumsan nulla risus, ut fringilla dui dignissim eu. Quisque vel sodales eros. Donec tellus diam, lacinia eu est eu, venenatis tincidunt purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus sit amet lacus non arcu efficitur mollis. Aenean ipsum sapien, viverra sed velit nec, consequat cursus ligula. Pellentesque condimentum a nibh a congue.</p>
<br>
<a class='links' href='https://www.instagram.com/jaymbok/' target='_blank'>Visit Jayme's Instagram</a>
</div>

<footer class='long-page'>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
