<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
    </div>
</header>

<div class='about'>
  <div id='jayme-con'>
    <img id='jayme' src="/images/jayme2.jpg">
</div>

  <h2>About Bok</h2>
    <p>One morning I woke up with a CRIPPLING hangover... I'm talking earth shattering, googling "how to tie a noose", questioning your life choices type of hangover. To make matters worse, my body felt like the 6 train hit me and dragged my body from 85th St to Astor Place. Like I said, CRIPPLING hangover. I needed nourishment ASAP, so I left my apartment wearing the same clothes from the night prior and stumbled to a local brunch spot to meet friends. As I stared at the menu I knew I needed grease in my body... BURGER... That has an egg on it... wait, that's a thing?!? DONE! As I took my first bite from the sumptuous burger; egg yolk exploding all over my hands and face, my friends staring in horror, I knew this was TRUE LOVE. I held the burger like it was the red headed broad from Titantic and I was dreamy Leo himself. There was no turning back from this epiphany, I immediately went home and aggregated every "Top burger in NYC" list I could find with one mission in mind - find the greatest burger in NYC. The rest is history. I soon found myself going from a casual burger fan to a connoisseur interested in the different blends of meat; dry aged sirloin, ribeye, brisket, short rib, shoulder, bone marrow... (I'm salivating as I write this). Moving forward, I plan to eat my way through NYC burger by burger - with high cholesterol, low morals, and a pension for all things greasy. I look forward to sharing my experiences with all my fellow burger lovers! 
    </p>
  <br>
    <a class='links' href='https://www.instagram.com/jaymbok/' target='_blank'>Visit Jayme's Instagram</a>
</div>

<footer class='long-footer'>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
