<h2>About Bok</h2>

Image goes here
<br>
blurb about meow meow meow meow meow meow meow meow
<br>
why burgers
<br>
<a href='https://www.instagram.com/jaymbok/'>Visit Jayme's Instagram</a>

<footer>
  <a id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
