<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
</div>
</header>


<div id='admin'>
 <h4 id='admin-header'>Admin Register (hard code later)</h4>
  <form id='register' method='POST' action='/register'><br>
    <input class='log-in' type='text' name='username' placeholder='Admin'><br>
    <input class='log-in' name='password' type='password' placeholder='password'><br><br>
    <button class='logs' name='button' type='submit'>Register</button>
  </form>
</div>
