 <h4>Admin Register (hard code later)</h4>
  <form id='register' method='POST' action='/register'>
    <input type='text' name='username' placeholder='Admin'>
    <input name='password' type='password' placeholder='password'>
    <button name='button' type='submit'>Register</button>
  </form>
