<br>
<div id='email'>
<h4>Bok Burger List Email Alerts:</h4>
<form id='emailList' method='POST' action='/signup'>
  <input class='email' name='firstName' value='First Name'><br><br>
  <input class='email' name='lastName' value='Last Name'><br><br>
  <input class='email' name='email' value='Email'><br><br>
  <input value = 'Sign Up' type='submit'>
</form>
</div>
