<br>
<div id='emailPage'>
<h4>Bok Burger List Email Alerts:</h4>
<form id='emailList' method='POST' action='/email' onSubmit='alert('Thanks!');'>
  <input class='email' name='firstName' placeholder='First Name'><br><br>
  <input class='email' name='lastName' placeholder='Last Name'><br><br>
  <input class='email' name='email' placeholder='Email'><br><br>
  <input value = 'Sign Up' type='submit'>
</form>
</div>
