<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
</div>
</header>

<!-- <script>
function setVisibility() {
document.getElementById('thanks').style.visibility = 'visible';
}
</script> -->

<br>
<div id='emailPage'>
<h3>We Deliver!</h3>
<h4 id='inbox'>Right to your inbox.</h4>
<form class='email-list' method='POST' action='/email' onSubmit='alert('Thanks!');'>
  <input class='email' name='firstName' placeholder='First Name'><br><br>
  <input class='email' name='lastName' placeholder='Last Name'><br><br>
  <input class='email' name='email' placeholder='Email' required><br><br>
  <button id='signUp' class='button' value='Sign Up' type='submit'>Submit</button>
</form>
</div>
<!-- <div id='thanks' style='visibility: hidden'>Thank you!</div> -->
