<div class='viewport-1'></div>
<footer id='footer'>
    <p>Welcome {{user.username}}</p>
    {{#each burger}}
        {{restaurantName}}
    {{/each}}
    <p><a class='hashtag' href='/email'>#BoksBurgerList</a></p>
  {{#if user}}
<div id='footer1'>
  <form method='POST' action="/logout?_method=DELETE" id='logout' >
  <button type='submit' name='logout'>Log Out</button>
  </form>
</div>
  {{else}}
<div id='footer2'>
  <form id='login' method='POST' action='/login'>
    <input name='username' placeholder='Admin'>
    <input name='password' type='password' placeholder='password'>
    <input value='Log In' type='submit'>
    {{/if}}
  </div>
  </form>
</footer>
