
<div class='viewport-1'></div>
<footer>
  <p class='hashtag'>#BoksBurgerList</p>    
  <form id='login' method='POST' action='/login'>
    <input name='username' value='Admin'>
    <input name='password' type='password' value='password'>
    <input value='Log In' type='submit'>
  </form>
</footer>
