

<br><br><br><br>
<footer>
  <form id='login' method='POST' action='/login'>
    <input name='username' value='username'>
    <input name='password' type='password' value='password'>
    <input value='Admin Log In' type='submit'>
  </form>
  <br>
  Bok Burger List Email Alerts:
  <form id='emailList' method='POST' action='/signup'>
    <input name='firstName' value='First Name'>
    <input name='lastName' value='Last Name'>
    <input name='email' value='Email'>
    <input value = 'Sign Up' type='submit'>
  </form>
</footer>
