<div class='viewport-1'></div>
<footer>
  <p class='hashtag'>#BoksBurgerList</p>
  {{#if user}}
  <p>Welcome {{user.username}}</p>
  <form id='logout' method='POST' action='/logout?_method=DELETE'>
  <input value='Log Out' type='submit' name='logout'>
  </form>
  {{else}}
  <form id='login' method='POST' action='/login'>
    <input name='username' placeholder='Admin'>
    <input name='password' type='password' placeholder='password'>
    <input value='Log In' type='submit'>
  </form>
  {{/if}}
</footer>
