<div class='index-by-img'>
<br>
IMAGES of burgers everywhere

<ul>
{{#each burger}}
<li>
{{restaurantName}}
</li>
{{/each}}
</ul>

</div>

<footer>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
