<div class='index-by-res'>
<h2>List of Places:</h2>

<ul>
  {{#each burger}}
  <li>
    <a class='indexList' href='/{{_id}}'>
      <span id='list-spacing'>{{restaurantName}}</span>
    </a>
  </li>
  {{/each}}
</ul>
<br>
  {{#if test}}
  <a class='links' href='/new'>Add Another Burger<a>
  {{else}}
  <!-- <a class='links' href='/'>HOME</a> -->
  {{/if}}

</div>

<footer>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
