<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
</div>
</header>


<div class='index-by-img'>
<br>
<h2>IMAGES of burgers everywhere</h2>

<ul>
{{#each burger}}
<li>
{{restaurantName}}
</li>
{{/each}}
</ul>

</div>

<footer class='footer'>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
