<br>
<h4>List of Places:</h4>

<ul>
  {{#each burger}}
  <li>
    <a class='indexList' href='/{{_id}}'>
      <span>{{restaurantName}}</span>
    </a>
  </li>
  {{/each}}
</ul>

  {{#if test}}
  <a href='/new'>Add Another Burger<a>
  {{/if}}

<footer>
  <a id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
