<br>
<h4>List of Places:</h4>

{{burger.burgerName}}

<ul>
  {{#each burger}}
  <li>
      {{restaurantName}}
  </li>
  {{/each}}
  </ul>

  {{#if user}}
  <a href='/new'>Add Another Burger<a>
  {{else}}
  {{/if}}

<footer>
  <a id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
