<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
    </div>
</header>
<div class='viewport-3'>
<div class='index-by-res'>
<h2 id='places'>Bok's Restaurants:</h2>
{{#if test}}
<a class='links' href='/new'>Add Another Burger<a><br>
{{else}}
{{/if}}
<br>
  <ul>
    {{#each burger}}
    <li>
      <a class='indexList' href='/{{_id}}'>
        <span id='list-spacing'>{{restaurantName}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
  <br>
</div>
</div>
<footer class='footer'>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
