<br>
<h4>List of Places:</h4>
<ul>
  {{#each Burger}}
  <li>
    <!-- <a href='/{{burgerId}}'> -->
      <!-- <span>{{restaurantName}}</span> -->
      {{restaurantName}}
  </li>
  {{/each}}
  </ul>

  {{#if user}}
  <a href='/new'>Add Another Burger<a>
  {{/if}}
