
<br>
<h4>Another Day Another Burger:</h4>
<form action='/new' method='POST'>
  <label>Where:</label>
  <input type='text' name='restaurantName'><br><br>
  <label>When:</label>
  <input type='date' name='postedAt'><br><br>
  <label>Name of Burger:</label>
  <input type='text' name='burgerName'><br><br>
  <label>Type of Meat:</label>
  <input type='text' name='typeOfMeat'><br><br>
  <label>Rating: Between 1 and 10</label>
  <input type='number' name='rating'><br><br>
  <label>Review:</label>
  <input type='text' name='review'><br><br>
  <label>Image:</label>
  <input type='url' name='burgerPic'><br><br>
