.links {
  text-decoration: none;
  color: #601a10;
}

.button {
  padding: 3px 5px;
  background: #601a10;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 40%;
  font-size: 14px;
}

.button:hover {
  padding: 3px 5px;
  background: #231f20;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 40%;
  font-size: 14px;
}

.logs {
  padding: 3px 5px;
  background: #231f20;
  /*color: #601a10;*/
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #601a10;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

.logs:hover {
  padding: 3px 5px;
  background: #231f20;
  color: #601a10;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #601a10;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);*/
  /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

.index-by-res,
.about,
#show-page,
.index-by-img {
  padding: 5vh 8vw 5vh 8vw;
}

/*#list-spacing {
  margin: 10vh 0;
  padding: 10vh 0 0 0;
}*/

.review-container {
  /*color: blue;*/
  padding: 10px 70px 10px 70px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  text-align: left;
}

#show-page {
  text-align: center;
}

.show-res {
  margin-top: -40px;
}

label {
  /*float: left;
  text-align: right;*/
  margin-right: 15px;
  width: 100px;
}

textarea:focus, input:focus {
  /*border: 2px solid #231f20;*/
  border: 2px solid #601a10;
}

.new-burger,
.edit-burger,
.delete-burger {
  text-align: center;
}

form.new-burger input,
form.new-burger select,
form.edit-burger input,
form.edit-burger select,
form.email-list input,
form.email-list select {
  min-width: 40%;
  height: 50px;
  font-size: 1em;
  background: white;
  text-align: center;
  border: 1px solid #601a10;
}


.log-in {
  background: white;
  font-size: 1em;
}

#review-new,
#review-edit {
  height: 120px;
  min-width: 40%;
  font-size: 1em;
  background: white;
  text-align: center;
  border: 1px solid #601a10;
}

header {
  background: #231f20;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.indexList {
  text-decoration: none;
  color: #231f20;
}

/*p {
  display: flex;
  justify-content: flex-start;
  color: #601a10;
}*/


.viewport {
  background-size: cover;
  background-image: url('../images/BokLogo.png');
  height: 18vh;
}

.viewport-1 {
  background-size: cover;
  background-image: url('../images/cow-05.png');
  height: 75vh;
}

#welcome {
  color:white;
}
#logo {
  display: flex;
  justify-content: flex-start;
  /*background: url(images/BokLogo.png) no-repeat 0 0;*/
}

#container {
  display: flex;
  justify-content: flex-end;
  padding: 1vh;
  margin-top: -40px;
}

.nav {
  text-decoration: none;
  color: white;
  font-family: Arial Black;
  padding: 0 2.5vw 0 2.5vw;
  font-size: 2.1vh;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams copy.ttf');
}

#email {
  display: flex;
  justify-content: flex-end;
  background: #231f20;
  color: white;
  font-family: Arial Black;
  font-size: 1.5vh;
  padding: 2vh;
}

#footer1 {
  display: flex;
  justify-content: flex-start;
  background: #231f20;
  color: white;
  font-family: Arial Black;
  font-size: 1.5vh;
  padding: 2vh;
}

#footer2 {
  display: flex;
  justify-content: flex-end;
  background: #231f20;
  color: white;
  font-family: Arial Black;
  font-size: 1.5vh;
  padding: 2vh;
}

.hashtag {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: #231f20;
  /*color: white;*/
  margin: 0 0 0 1vw;
}

body {
  font-family: Arial Black;
}

#emailPage {
  text-align: center;
}

/*input[class=email] {
  border: 1px solid #601a10;
  background-color: white;
  padding: 1vh;
  width: 30vw;
}*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
}
